<AuthorizeView>
    <Authorized>
        <span class='logout-name'>
            Hello, @context.User.Identity.Name!
            <a href="LogOut">Log out</a>
        </span>
    </Authorized>
    <NotAuthorized>
        <span class='logout-name'>
            <a href="Register">Register</a>
            <a href="Login">Log in</a>
        </span>
    </NotAuthorized>
</AuthorizeView>