@page "/"

@using ProjectHub.Components.Modals


<h1>Projects</h1>

<button @onclick="ShowModal" class="btn btn-primary">Show Modal</button>


@code {

    [CascadingParameter] public IModalService Modal { get; set; }

    void ShowModal() => Modal.Show<AddGlossaryItemModal>("Add New Glossary Entry");

}
