
<SfCard>
    <CardHeader Title="Test Title" SubTitle="Test Subtitle" />
    <CardContent>
        <p>Test Content</p>
    </CardContent>
    <CardContent EnableSeperator="true" />
    <CardFooter>
        <CardFooterContent>
            <p>Footer content</p>
        </CardFooterContent>
    </CardFooter>
</SfCard>

@code {

}
